<footer class="footer-distributed">

 <div class="footer-right">

    <p class="footer-links">
      <a href="https://www.facebook.com/guardiansufcg/">
        <img height="40px" width="40px" src="../../assets/facebook-icon.png" id="facebookLogo">
      </a>
      <a href="https://github.com/Guardians-DSC" target="_blank">
        <img height="29px" width="29px" src="../../assets/github-icon.png" id="facebookLogo">
      </a>
    </p>

 </div>

 <div class="footer-left">

   <p class="footer-links">
      <a href="#">Início</a>
      ·
      <a href="https://sites.google.com/a/computacao.ufcg.edu.br/guardians-ccc/sobre">Sobre</a>
    </p>

   <p>Desenvolvido por Guardians-DSC/UFCG &copy; 2018</p>
  </div>

</footer>
