<div style="background: url('assets/bg2.jpg');" class="main">

    <div class="container" id="cardLogin">

        <div class="middle">

            <div id="login">

                <form [formGroup]="_loginForm" (ngSubmit)="login()">
                  <mat-form-field [floatLabel]="auto">
                    <input
                      matInput
                      placeholder="Usuário"
                      id="username"
                      formControlName="username">
                    <mat-hint>Seu nome de usuário dos LCC's</mat-hint>
                    <mat-error *ngIf="!_loginForm.controls['username'].valid &&
                            _loginForm.controls['username'].touched">
                      Nome do usuário não pode ser vazio
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field >
                    <!-- <span class="fa fa-lock"></span> -->
                    <input
                      matInput
                      id="password"
                      formControlName="password"
                      placeholder="Senha"
                      type="password"
                    />
                    <mat-error *ngIf="!_loginForm.controls['password'].valid &&
                            _loginForm.controls['password'].touched">
                      Senha não pode ter menos de 8 caracteres
                    </mat-error>
                  </mat-form-field>
                  <button type="submit" mat-button>Entrar</button>

                    <fieldset class="clearfix">

                        <div>
                            <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Esqueceu senha?</a></span>
                        </div>

                    </fieldset>
                    <div class="clearfix"></div>

                </form>

                <div class="clearfix"></div>
            </div>

            <div class="logo">
                <div class="clearfix">
                    <img height="240px" width="400px" src="../../assets/Logo_3D_1.png" id="guardiansLogo">
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>
