@charset "utf-8";


div.main{
  height: calc(100vh);
  background-size: 100% !important;
  /* background: url('./assets/bg.jpg'); */
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;

}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	lineheight: 1.5em;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
	width: 300px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}
.logo{
color:#fff;
font-size:50px;
  line-height: 125px;
}

/*---------------Botão--------------------*/


#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}

.middle {
  display: flex;
  width: 40vw;
  height: 250px;
  border-radius: 1em;
  background: rgba(255, 255, 255, 1);
  padding-top: 3em;
}

#guardiansLogo{
	height: 160px;
	width: 160px;
	padding-left: 10%;
	padding-bottom: 3%;
}

.alert {
  font-size: 10px;
  color: black;
}

mat-form-field {
  min-width: 300px;
}

#cardLogin {
  z-index: 1;
}
