<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened>
    <p>
      Logado com sucesso!
    </p>
    <button type="submit">LogOut</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <span style="font-family: 'Skranji', cursive">IARL!</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container-fluid p-3">
      <!-- <file-manager></file-manager>       -->
    </div>
  </mat-sidenav-content>
  k
</mat-sidenav-container>
